<h1>Şifremi Unuttum</h1>
<hr>
<form asp-action="ForgotPassword" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="mb-3">
		<label for="Email"></label>
		<input name="Email" type="Email" class="form-control">
	</div>
	<button type="submit" class="btn btn-primary">Gönder</button>
</form>