@model IEnumerable<AppRole>
<a class="btn btn-primary"  asp-action="Create">Create Role</a>
<hr>
<table class="table table-bordered">
	<thead>
		<tr>
		<th>Id</th>
		<th>Role Adı</th>
		<th>Kullanıcılar</th>
		<th style="width: 125px;"></th>
		</tr>
	</thead>
		@if(Model.Count() == 0)
		{
		<tr>
			<td colspan="4" class="text-center">Herhangi bir rol bulunamadı.</td>
		</tr>
		}
	<tbody>
		@foreach(var role in Model)
		{
			<tr>
				<td>@role.Id</td>
				<td>@role.Name</td>
				<td>Kullanıcı Listesi</td>
				<td>
					<a asp-action="Edit" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
					<form asp-action="Delete"method="post" onsubmit="return confirm('Silmek istediğinize emin misiniz?')" style="display: inline-block;">
						<input type="hidden"  value="@role.Id" name="id">
						<button type="submit" class="btn btn-danger btn-sm">Delete</button>
					</form>
				</td>
			</tr>

		}
	</tbody>
</table>